.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/src/routes/api/upload-db
/src/routes/test_prompt_generation
/src/routes/test-markdown